#hero{
  background: url("../images/bg-hero.jpg") no-repeat;
  background-size: cover;
}
#together{
  background: url("../images/bg-man-wall.jpg");
}
.bton{
  background-color:#f26c4f;
}
.mt-60{
  margin-top: 60px;
}
.colorp{
  color:#f26c4f;
}